<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="navbar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/Acceuil}">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-user-md" style="font-size:30px;color:lightblue;text-shadow:2px 2px 4px #000000;"></i>
    </div>
    <div class="sidebar-brand-text mx-3 " >DentalSoft</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->


  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    <i class=" far fa-file "></i>
    Interface
  </div>



  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link " href="/allpatient">
      <i class="fas fa-fw fa-folder"></i>
      <span>liste des patients</span>
    </a>

  <li class="nav-item">
    <a class="nav-link " href="/allEvent">
      <i class="fas fa-fw fa-calendar"></i>
      <span>Agenda</span>
    </a>

  </li>

  <li class="nav-item">
    <a class="nav-link " href="/allPrescription">
      <i class="fas fa-fw fa-edit"></i>
      <span>liste des Consultations</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link " href="/allPaiement">
      <i class="fas fa-fw fa-edit"></i>
      <span>Afficher paiement</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link " href="/allRendezVous">
      <i class="fas fa-fw fa-edit"></i>
      <span>liste des rendez-vous</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link " href="https://calendar.google.com/calendar/embed?src=71bfd0d25d39ea71d917d95e23b6f91915c807b5d2fde66a763aea8c8a59eddc%40group.calendar.google.com&ctz=Africa%2FCasablanca">
      <i class="fas fa-fw fa-edit"></i>
      <span>liste des rendez-vous</span>
    </a>
  </li>





  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>


</ul>