<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="navbar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/Acceuil}">
    <div class="sidebar-brand-icon ">
        <img src="https://cdn-icons-png.flaticon.com/128/9738/9738360.png"
             alt="icon logo" width="64px" height="64px">
    </div>
    <div class="sidebar-brand-text mx-3" >DentalSoft</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->


  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
      <i class=" far fa-file "></i>
    Interface
  </div>



  <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link " href="/allpatient">
        <i class="fas fa-fw fa-folder"></i>
        <span>liste des patients</span>
        </a>

  <li class="nav-item">
    <a class="nav-link " href="/allEvent">
      <i class="fas fa-fw fa-calendar"></i>
      <span>Agenda</span>
    </a>

  </li>

    <li class="nav-item">
        <a class="nav-link " href="/allRendezVous">
        <i class="fas fa-fw fa-edit"></i>
        <span>liste des rendez-vous</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link " href="/allPrescription">
            <i class="fas fa-clipboard-list "></i>
            <span>liste des Consultations</span>
        </a>
    </li>


    <li class="nav-item">
        <a class="nav-link " href="/allPaiement">
            <i class="fas fa-dollar-sign "></i>
            <span>Afficher paiement</span>
        </a>
    </li>





  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>


</ul>